*.suo
/.vs/

Token.txt
**/Token.txt

/DiscordBot/bin/
/DiscordBot/obj/

/packages/**/*._
/packages/**/*.config
/packages/**/*.exe
/packages/**/*.dll
/packages/**/*.json
/packages/**/*.md
/packages/**/*.pdb
/packages/**/*.pri
/packages/**/*.props
/packages/**/*.ps1
/packages/**/*.rsp
/packages/**/*.rtf
/packages/**/*.targets
/packages/**/*.transform
/packages/**/*.txt
/packages/**/*.xdt
/packages/**/*.xml





